#filteredhuppers, #filteredtrolls {display:block !important;}
#tags {background-color:#F6F6EB; }
#tags h4 {margin: 0;padding:0; }
#tags ul {list-style:none;padding:0;margin:0;}#tags li {padding-left:5px;margin:0;}
.hnew { color: red; font-weight: bold; }
.nnew { float:right; }
.nnew, .nnew a { font-size:10px; font-weight: normal;}
.nnew * { margin-left: 2px; margin-right: 2px; }
.hnav { float: right; padding-right: 5px; }
.hnav * { margin-left: 2px; margin-right: 2px; }
.submitted { padding: 2px !important; }
.mark { cursor: pointer; color: #000; }
.hidden {display: none;}
.block h2 {
  position: relative;
}
.hupper-button {
  background: transparent url('chrome://hupper/skin/block-icons.gif') no-repeat;
  border: 0;
  cursor: pointer;
  height: 16px;
  width: 16px;
}
.block-button,
.block-move-button {
  position: absolute;
  top: 0;
  z-index: -1;
}
.block:hover .block-button,
.block:hover .block-move-button {
  z-index: 1;
}
.hide-button,
.show-button {
  right: 18px;
}
.delete-button {
  background-position: -16px -32px;
  right: 0;
}
.delete-button:hover {
  background-position: -16px -48px;
}
.hide-button {
  background-position: -16px 0;
}
.hide-button:hover {
  background-position: -16px -16px;
}
.show-button {
  background-position: -32px -0px;
}
.show-button:hover {
  background-position: -32px -16px;
}


.up-button {
  background-position: 0 -64px;
  left: 0;
}
.up-button:hover {
  background-position: 0 -80px;
}

.down-button {
  background-position: -16px -64px;
  left: 18px;
}
.down-button:hover {
  background-position: -16px -80px;
}

.left-button {
  background-position: 0 0;
  left: 36px;
}
.left-button:hover {
  background-position: 0 -16px;
}

.right-button {
  background-position: 0 -32px;
  left: 36px;
}
.right-button:hover {
  background-position: 0 -48px;
}
#sidebar-left .left-button,
#sidebar-right .right-button {
  display: none;
}
.hide-submenu ul {
  display: none;
}
.node table ul.links.inline li.first.last {
  padding-right: 20px;
  position: relative;
}
.taxonomy-button {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
li:hover .taxonomy-button {
  display: block;
}
