@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("hup.hu") {

  .indented {
    margin-top: -1em;
    padding-top: 1em;
  }
  .indented:hover,   .indented:focus  {
    background:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACAQMAAACjTyRkAAAAAXNSR0IArs4c6QAAAAZQTFRFt9BTt7eL4xrPVQAAAAF0Uk5TAEDm2GYAAAABYktHRACIBR1IAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH2gsOCiIz/YtxKwAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAMSURBVAjXY2hgYAAAAYQAgSjdetcAAAAASUVORK5CYII=
) 0 0 repeat-y;
  }
  a#new:target + a + .comment,
  a:target + .comment {
    background-color: #F6F6EB !important;
    border-color: #000 !important;
    -moz-transition: border-color 2s ease-out, background-color 0.5s ease;
    transition: border-color 2s ease-out, background-color 0.5s ease;
  }
  a:target + .comment > .submitted,
  a#new:target + a +  .comment > .submitted {
    color: #000 !important;
    font-weight: bold;
  }
  .comment {
    background-color:#F6F6EB !important;
  }

  .indented {
	transition: margin-left 0.5s;
  }

  .widen-comment {
	  margin-left: 0 !important;
  }

}
