body {
  margin: 0;
  padding: 0px 0px 0px;
  color: #000;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 10px;
}
#all {
  background: #f6f6eb;
  color: #000;
  padding: 15px 15px 8px;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 10px;
}
#search-wrap {
  float: right;
  margin: 20px 10px 0px;
}
a {
  text-decoration: none;
}
table {
  width: 100%;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
}
h4,h5,h6 {
  font-size: 1em;
}
#header img {
  float: left;
  padding: 10px;
}
#header.center_logo img {
  float: none;
  display: inline;
}
#header.center_logo {
  text-align: center;
}
#site-name {
  margin: 0;
  padding: 14px 0 5px;
  height: 1%;
}
#site-name a {
  text-decoration: none;
}
#site-slogan {
  display: block;
  padding: 4px 0;
  margin: 0;
  height: 1%;
}
#site-name a, #site-slogan a {
  color: #000;
}
#top-nav {
  color: #000;
  padding: 3px 6px;
  margin: 0px 0px 10px;
  text-align: center;
  border: 1px solid;
  clear: both;
  font-size: 10px;
}
#top-nav a {
  color: #000;
  font-size: 10px;
}
#top-nav a:hover {
  color: #000;
}
#top-nav ul {
  list-style: none;
  margin: 0 8px;
  padding: 0 8px;
}
#top-nav ul li {
  display: inline;
  padding: 0px 4px;
}
#primary, #secondary {
  border: solid;
  border-width: 0 1px;
  display: inline;
  margin: 0;
  padding: 3px 0;
}
#primary {
  font-size: 1.2em;
}
#secondary {
  font-size: 1.0em
}
#content {
  margin: 5px 0;
  width: 100%;
}
#content tr td {
  vertical-align: top;
}
.sidebar {
  width: 150px;
  font-size: 0.87em;
  padding: 0 5px;
}
.sidebar .block {
  margin: 0 0 15px;
  border: 1px solid #b7b78b;
  background: #f6f6eb;
  padding: 0;
}
.sidebar .block h2 {
  font-size: 1.1em;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid #b7b78b;
  padding: 2px;
  background: #d8d8c4;
}
.sidebar .block .content {
  padding: 5px;
  font-size: 10px;
}
.container-inline a {
  color: #ddd;
}
.main-content {
  max-width: 640px;
  padding: 0 10px;
}
#footer {
  margin: 15px;
  padding: 2px;
  border: solid 1px #b7b78b;
  background-color: #d8d8c4;
  text-align: center;
  font-size: 10px;
  color: #000;
}
#footer a {
  color: #000;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
.container {
  padding: 4px;
}
.forum {
  padding: 4px;
}
.calendar {
  font-size: 1.12em;
}
.calendar .header-week, .calendar .day-blank, .calendar .day-selected {
  background: #ddd;
}
.calendar .day-today, .calendar .day-today a {
  background: #090;
  color: #fff;
}
.poll .bar {
  background: #ddd;
}
.node {
  padding: 10px;
  margin-bottom: 7px;
}
.node.sticky {
  margin-top: 1em;
  background: #eee;
  border: solid 1px #ddd;
}
.node h2 {
  background-color: #d8d8c4;
  border: solid 1px #999;
  padding: 3px;
  margin-top: 0px;
}
.node .info {
  text-align: right;
  font-size: .83em;
}
.node .links {
  padding-left: 0px;
  font-size: 10px;
}
.node .content {
  margin: 6px;
  overflow-x: auto;
  overflow-y: hidden;
}
.comment {
  border: solid 1px;
  padding: 0;
  margin-bottom: 1em;
  margin-top: 5px;
}
.comment .title {
  margin-bottom: 2px;
}
.comment .title a {
  font-size: 1.3em;
  font-weight: bold;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.77em;
  float: right;
  color: red;
}
.comment .picture {
  border: 1px solid;
  float: right;
  margin: 0.5em;
}
.comment .content {
  overflow-x: auto;
  overflow-y: hidden;
}
#mission {
  padding: 1.5em 2em;
  margin: 0;
  color: #fff;
}
ul.primary li.active a {
  background-color: #f6f6eb;
  border: 1px solid #bbb;
  border-bottom: #f6f6eb 1px solid;
}
.box {
  background: #fff;
  padding: 5px;
  border: 1px solid #660000;
}
.box h2 {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.item-list .icon {
  float: right;
  padding-left: 1em;
  clear: right;
}
.item-list .icon a {
  color: #000;
  text-decoration: none;
}
.item-list .icon a:hover {
  color: #000;
  text-decoration: none;
}
.item-list .title {
  font-weight: bold;
}
.item-list ul {
  margin: 0 0 0.75em 0;
  padding: 0;
}
.item-list ul li {
  margin: 0 0 0.25em 1.5em;
  padding: 0;
  list-style: disc;
}
.poll .total {
  text-align: center;
  padding: 1em;
}
.poll .links {
  text-align: center;
}
.poll .title {
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

body {
  color: #000;
  background: #f6f6eb;
}
a {
  color: #363636;
}
a:link {
  color: #363636;
}
a:visited {
  color: #363636;
}
a:active {
  color: #363636;
}
a:hover {
  text-decoration: underline; color: #006699
}
#site-name a, #site-slogan a {
  color: #363636;
}
#top-nav {
  color: #fff;
  border: solid 1px #b7b78b;
  background: #d8d8c4;
}
#primary, #secondary {
  border-color: #b7b78b;
}
.content-title {
  border: solid 1px #b7b78b;
  background: #d8d8c4;
  color: #363636;
  padding: 2px;
}
.calendar .day-today, .calendar .day-today a {
  background: #090;
  color: #fff;
}
.poll .bar .foreground {
  background: #000;
}
.comment {
  border: 1px solid #b7b78b;
}
.comment .content {
  margin: 4px;
}
.comment .picture {
  border: 1px solid #abc;
}
#mission {
  background-color: #369;
}
#mission a {
  color: #000;
}
.item-list ul li {
  list-style-image: url(bullet.png);
}
.box {
  border: 1px solid #b7b78b;
  background: #f6f6eb;
  padding: 5px;
  margin-bottom: 1em;
}
.box h2 {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.node .content a {
  text-decoration: underline;
}
.comment .link {
  text-align: right;
  background: #d8d8c4;
  margin-top: 6px;
  border-top: 1px solid #b7b78b;
}
.comment .submitted {
  border: none;
  background: #d8d8c4;
  border-bottom: solid 1px #b7b78b;
  text-align: left;
}
.comment .link a {
  text-decoration: none;
  color: #363636;
}
.comment .link a:hover {
  text-decoration: underline; color: #006699
}
.comment .content a {
  text-decoration: underline;
}
#aggregator .feed-item  .feed-item-title {
  margin-bottom: 0;
  font-size: 10px;
}
#node-61958 table a {
text-decoration: none
}
#block-aggregator-feed-50 div.content {
  background: #efefdf;
}
#block-aggregator-feed-51 div.content {
  background: #eee;
}
.comment-new {
    background-color: #eeeeee;
}
#block-block-41 div.content {
  background: #ffffc9;
}
#block-block-42 div.content {
  background: #ffffc9;
}

/**
 * comment_reply reklamsav
 */
div.box.cr_box {
  padding: 0px;
}

div.box.cr_box h2.title {
  margin-left: 5px;
}

div.box.cr_box .box_content {
  margin: 5px;
}

#cr_ad {
  height: 16px;
  overflow: hidden;
  border-bottom: solid 1px #b7b78b;
  margin-bottom: 5px;
}

#cr_ad a {
  background-color: #e20074;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

