@keyframes slideup {
	from {
		transform: scale(1) translateY(0) ;
		opacity: 1;
	}

	to {
		transform: scale(0.99) translateY(-2rem) ;
		opacity: 0;
	}
}

@keyframes slidedown {
	0% {
		transform: scale(0.99) translateY(-2rem) ;
		opacity: 0;
	}

	100% {
		transform: scale(1) translateY(0) ;
		opacity: 1;
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}

input[type="text"],
input[type="number"] {
	--bg-color: 250, 250, 250;
}

.btn {
	--color: #666;
	--bg-color: 250, 250, 250;
	--hover-bg-color: 230, 230, 230;

	--border-color: rgb(204, 204, 204);
	--hover-border-color: rgb(175, 175, 175);

	--box-shadow-color: rgba(0, 0, 0, 0.08);
	--box-shadow-x: 0px;
	--box-shadow-y: 1px;
	--box-shadow-blur: 0;
	--box-shadow-spread: 0;
	--inset-box-shadow-color: rgba(var(--bg-color), 0.75);
	--outline: 0;
}

.btn:focus {
	--color: #555;
	--bg-color: 235, 235, 235;
	--box-shadow-color: rgba(0, 0, 0, 0.2);
	--box-shadow-y: 2px;
}

.btn-cta {
	--color: #fff;
	--bg-color: 102, 133, 164;
	--hover-bg-color: 81, 108, 135;

	--border-color: rgb(84, 113, 141);
	--hover-border-color: rgb(61, 82, 103);
}

.btn-cta:focus {
	--color: #fff;
	--bg-color: 70, 94, 117;
	--box-shadow-color: rgba(0, 0, 0, 0.2);
	--box-shadow-y: 2px;
}

.btn-warn {
	--color: #fff;
	--bg-color: 215, 75, 75;
	--hover-bg-color: 196, 43, 43;

	--border-color: rgb(204, 45, 45);
	--hover-border-color: rgb(154, 34, 34);
}
.btn-warn:focus {
	--color: #fff;
	--bg-color: 176, 39, 39;
	--box-shadow-color: rgba(0, 0, 0, 0.2);
	--box-shadow-y: 2px;
}

.panel .color {
	--border-color: #eee;
}

input {
	--border-color: #ccc;
	--focus-box-shadow-color: rgba(0, 0, 0, 0.2);
	--focus-border-color: rgba(0, 0, 0, 0.25);

	--color: #666;
}

.btn[disabled],
.btn[disabled],
input[disabled],
input[readonly] {
	--color: #999;
	--bg-color: 235, 235, 228;
}

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
}

html {
	background-color: #fff;
	font-size: 10px;
	font-family: "DejaVu Sans", "Droid Sans", sans-serif;
	padding: 0;
}

.content {
	margin: auto;
	max-width: 80%;
}

.page-header {
	padding: 2rem 0;
	margin-bottom: 2rem;
}

.page-title {
	color: #333;
	margin: auto;
	max-width: 80%;
	letter-spacing: -1px;
	font-weight: 400;
	font-size: 2rem;
}

.group-title {
	color: #333;
	font-size: 1.6rem;
	font-weight: 400;
}

main {
	font-size: 1.3rem;
}

footer {
	padding: 2rem 0;
}

footer.content {
	margin-top: 2rem;
}

.dialog-footer {
	text-align: right;
}

input {
	padding: 0.3rem 0.6rem;
	border-radius: 0.3rem;
	font-size: 1.3rem;
	margin: 0;

	box-shadow: none;
	border: 1px solid var(--border-color);
	transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s;

	color: var(--color);
}

label span + input {
	margin-left: 1rem;
}

input:focus {
	border-color: var(--focus-border-color);
	outline-color: var(--focus-border-color);
	box-shadow: 0 0 3px var(--focus-box-shadow-color);
}

input[type="color"],
button {
	padding: 0.4rem 0.6rem;
	font-weight: 400;
	border-radius: 0.2rem;
	font-size: 1.3rem;
	line-height: 1.6rem;

	border: 1px solid;
}

.btn {
	font-family: inherit;
	cursor: pointer;
}

.btn {
	font-weight: 400;
	color: var(--color);
	border-color: var(--border-color);
	background-color: rgb(var(--bg-color));
	border-radius: 3px;

	box-shadow: var(--box-shadow-x) var(--box-shadow-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color), inset 0 1px 2px var(--inset-box-shadow-color);
	outline: var(--outline);

	transition: 0.2s background-color ease, 0.2s border-color, 0.2s box-shadow;
}

.btn::-moz-focus-inner {
	border: 0;
}

.btn:hover {
	background-color: rgb(var(--hover-bg-color));
	border-color: var(--hover-border-color);

	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(var(--hover-bg-color), 0.75);
}

input[type="text"],
input[type="number"] {
	background-color: rgb(var(--bg-color));
	max-width: 100%;
}

label {
	color: #666;
	font-weight: 400;
}

.group-container {
	padding-left: 1.5rem;
	margin-bottom: 3rem;
}

.control-group {
}

.control-group + .control-group {
	margin-top: 2rem;
}

.control-group-bool + .control-group-control,
.control-group-text + .control-group-control {
	margin-top: 1rem;
}

.control-group-text label {
	display: block;
	margin-bottom: 0.5rem;
}

.control-group-bool input {
	float: left;
}

.control-group-bool input + span {
	margin-left: 0.5rem;
}

.panel-container {
	display: flex;
	height: 100vh;
	width: 100vw;

	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
}

.panel {
	position: relative;
	top: 0;
	z-index: 2;

	display: none;
	width: 50vw;
	max-width: 65rem;
	min-width: 30rem;
	margin: auto;
	padding-bottom: 1rem;
	background-color: #fff;
	border: 1px solid transparent;
	box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);

	border-radius: 5px;

	font-size: 1.3rem;

	will-change: transform, opacity;
}

.panel.visible {
	display: block;
}

.panel.show {
	animation-duration: 0.1s;
	animation-name: slidedown;
}

.panel.hide {
	opacity: 0;
	animation-duration: 0.1s;
	animation-name: slideup;
}

.panel.pulse {
	animation-duration: 0.1s;
	animation-name: pulse;
}

.panel-content {
	padding: 20px;
	max-height: 70vh;
	overflow: auto;
}

.panel .field-group {
	margin: 15px 0;
}
.panel .field-group label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
.panel form {
	margin: 0 0 20px;
}

.panel table {
	width: 100%;
	border-collapse: collapse;
}

.panel table th {
	font-weight: 600;
	color: #666;
}

.panel table th,
.panel table td {
	border: 1px solid #ccc;
	padding: 0.5rem;
	text-align: left;
}

.panel table th:last-child,
.panel table td:last-child {
	text-align: right;
}

.panel-header {
	margin: 0;
	padding: 1.5rem;
}

.panel-header:after {
	content: '';
	display: table-cell;
	clear: both;
}

.panel input[type="text"] {
	width: 100%;
}

.panel .close {
	position: absolute;
	top: 15px;
	right: 15px;

	background-color: transparent;
	border-color: transparent;

	border-radius: 50%;

	min-height: auto;
	min-width: auto;

	cursor: pointer;

	outline: none;

	font-size: 13px;
	transform: scale(1);
	transition: color 0.1s ease, transform 0.1s ease;
}
.panel .close:hover {
	transform: scale(1.5);
	color: #000;
}

.panel .hidden {
	display: none;
}

.panel .color {
	padding: 0.5rem;
	border-radius: 4px;
	border-color: #eee;
	display: block;
	text-align: center;

	cursor: pointer;

	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.1s;
}

.panel .color:hover {
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5), 0 2px 2px rgba(0, 0, 0, 0.3);
}

.panel .color:focus {
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5), 0 2px 3px rgba(0, 0, 0, 0.4);
}

.panel .color-text {
	/* filter: invert(100%); */
	font-weight: 600;
}

.panel-title {
	color: #333;
	letter-spacing: -1px;
	font-weight: 400;
	font-size: 2rem;
	margin: 0;
}

.panel-subtitle {
	color: #333;
	font-size: 1.6rem;
	font-weight: 400;
}

#panel-bg {
	background-color: rgba(255, 255, 255, 0);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	transition: background-color 0.2s ease;

	will-change: opacity;
}

#panel-bg.visible {
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 1;
}

#panel-bg.hide {
	background-color: rgba(255, 255, 255, 0);
	z-index: 0;
}

#ListOfTrolls ul {
	margin: 0;
	padding: 0;
}

#ListOfTrolls li:after {
	list-style: none;
}

#ListOfTrolls li:after {
	content: '';
	display: table-cell;
	clear: both;
}

#ListOfTrolls .delete-troll {
	float: right;
}

#ListOfHighlightedUsers td:first-child {
	cursor: pointer;
}
