@keyframes commenthiglight {
	from {
		opacity: 0.5;
	}

	to {
		opacity: 1;
	}
}


#filteredhuppers, #filteredtrolls {display: block !important;}
#tags {background-color:#F6F6EB !important; }
#tags h4 {margin: 0 !important;padding: 0 !important; }
#tags ul {list-style: none !important;padding: 0 !important;margin: 0 !important;}
#tags li {padding-left: 5px !important;margin: 0 !important;}
.hnew { color: red !important; font-weight: bold !important; }
.hnav {
	float: right !important;
}
.hnav * { margin-left: 2px !important; margin-right: 2px !important; }
.hnav .nnew,
.node .hnav a {
	font-size: 0.8em !important;
}
.comment .hnav a {
	font-size: 1em !important;
}
.hnav a {
	font-weight: normal !important;
	margin-left: 5px !important;
}
.submitted {
	padding: 2px !important;
}

.submitted:after {
	content: '.';
	display: block;
	height: 0;
	width: 100%;
	clear: both;
	visibility: hidden;
}

.mark {
	cursor: pointer !important;
	color: #000 !important;
}
.hup-hidden {display: none !important;}
.block h2 {
	position: relative !important;
}
.content-hidden .content {
	display: none !important;
}
.content-hidden h2 {
	border-bottom: 0 !important;
}
.hupper-button {
	background-color: transparent !important;
	background-image: url('data:image/gif;base64,R0lGODlhMABgAOMJALu7qM3Nv8/OwePj3Orq5O3t6PHx7fv7+v39/MfHsMfHsMfHsMfHsMfHsMfHsMfHsCwAAAAAMABgAAAE/nCESWsd0uqJ95bEgYxkiRSTYa4HGqhr2U5ibNK2jOfjMfGlH8IjLBJHQlIyGEAeh02ox8mM3qzAoi2apGyxPG2MS94owTnxiuw0U4FvNPIt/cLjW3p9LR9z81BXfneBQ4BLYX18bW47WYqCdxMFNTkuBXAEk5kBGUQUHZ+gnqKhop2knwMCpxytr7CxsrO0XmkWiY2fubZfGme1uFNuUsEVxce/vrXIXsp+wc0/xMa/w9TVzmZP2drW3ae84OPkr6lEpqXnHumq6x/vGhKYPAeaL0AzhHNwPgGVOXzsMySJTSRIawYxaVOFHyE5vQrt6YXwhq8zVSJWDAJMGaJj/hz3WeEGBqSSgX0oYnlG8CG0hQz3tJSkEKPMiSgfGoS58WQ/RGlQ0gt4idPAeBbaoTtqDukFlOWAihsHVRYjIz2v2npSDFhVXFpVdvwKVhrQsgWlhl3CEo5JPsSakTXJtWNWs3bpjozoVhe2LmqXwdIaU2fUueCYtlLKTvEpxh+EAmRxb6ilu/9+9sS8KJLbnBk92wzpMi/M0z5L49XDeuZnKtP2diZNUzSd2BI5285NDTRqPSx1/5bIyKJInbNT1+47OYZAkZZtXGouQ5Njdeauu8suMipm74jXDu7+tlVYsnBJou2rVtR58n8IupcW3uxWfm/Zg5yfvn64K3w9FQKWeabBR8t7hpWDWDfaoeMUKANFAAA7') !important;


	background-repeat: no-repeat !important;
	border: 0 !important;
	cursor: pointer !important;
	height: 16px !important;
	width: 16px !important;

	-moz-appearance: none;
}
.block-button,
.block-move-button {
	position: absolute !important;
	top: 0 !important;
	z-index: -1 !important;
}
.block:hover .block-button,
.block:hover .block-move-button {
	z-index: 1 !important;
}
.block .btn-container {
	position: relative !important;
}
.hide-content-button,
.show-content-button {
	right: 18px !important;
}
.delete-button {
	background-position: -16px -32px !important;
	right: 0 !important;
}
.delete-button:hover {
	background-position: -16px -48px !important;
}
.hide-content-button {
	background-position: -16px 0 !important;
}
.hide-content-button:hover {
	background-position: -16px -16px !important;
}
.show-content-button {
	background-position: -32px -0px !important;
}
.show-content-button:hover {
	background-position: -32px -16px !important;
}
.show-content-button {
	display: none !important;
}
.content-hidden .hide-content-button {
	display: none !important;
}
.content-hidden .show-content-button {
	display: block !important;
}
.up-button {
	background-position: 0 -64px !important;
	left: 0 !important;
}
.up-button:hover {
	background-position: 0 -80px !important;
}

.down-button {
	background-position: -16px -64px !important;
	left: 18px !important;
}
.down-button:hover {
	background-position: -16px -80px !important;
}

.left-button {
	background-position: 0 0 !important;
	left: 36px !important;
}
.left-button:hover {
	background-position: 0 -16px !important;
}

.right-button {
	background-position: 0 -32px !important;
	left: 36px !important;
}
.right-button:hover {
	background-position: 0 -48px !important;
}
#sidebar-left .left-button,
#sidebar-right .right-button {
	display: none !important;
}
.hide-submenu ul {
	display: none !important;
}
.node table ul.links.inline li.first.last {
	padding-right: 20px !important;
	position: relative !important;
}
.taxonomy-button {
	display: none !important;
	position: absolute !important;
	right: 0 !important;
	top: 0 !important;
}
li:hover .taxonomy-button {
	display: block !important;
}

.scores {
	float: right;
	padding: 5px;
	background-color: #333;
	color: #ededed;
	margin-top: 5px;
	margin-left: 5px;

	border-radius: 2px 0 0 2px;
}

.hup-replies {
	float: left !important;
	padding-left: 2px !important;
}
.hup-replies .hup-boring {
	color: #999 !important;
}
.comment.article-author .content {
	background: top right url('chrome-extension://__MSG_@@extension_id__/images/icons/009-pen.png') no-repeat;
}

.comment.hup-hidden,
.comment.hup-hidden + .indented,
.comment.hup-boring,
.comment.hup-boring + .indented {
	display: none !important;
}
.comment.hup-boring > .submitted {
	background-color: #EBEBD5 !important;
}
.comment.has-children:not(.trollComment),
a:target + .comment.hup-boring,
a:target + .comment.hup-hidden,
a:target + .comment.hup-hidden + .indented,
a#new:target + a + .comment.hup-boring {
	display: block !important;
}

a:target + .comment {
	animation: commenthiglight 0.5s linear;
}

.comment.has-children {
	opacity: 0.9;
}

.hup-collapsed > ul {
	display: none !important;
}

/*
.node .content iframe {
	display: none;
}
*/

.hupper-error-message-container {
	background-color: #eee;
	border: 1px solid #b7b78b;
	margin-top: 10px;
	padding: 10px;
}

.form-item .hupper-error-message-label {
	font-weight: 400;
	color: red;
	margin-bottom: 10px;
}
