#ListOfTrolls {
	margin: 0;
	padding: 0;
}

#ListOfTrolls li {
	border-bottom: 1px solid #ccc;
	list-style-type: none;
	padding: 5px;

	transition: background-color 0.3s;
}
#ListOfTrolls li:hover {
	background-color: #efefef;
}
#ListOfTrolls li button {
	float: right;
}
