body {
	background-color: #fff;
	color: #333;
}

h1 {
	font-size: 18px;
}

input {
	box-sizing: border-box;
	padding: 2px;
	margin-bottom: 5px;
	width: 100%;
}

label {
	display: block;
	font-weight: bold;
	margin: 5px 0;
}

form {
	margin-bottom: 10px;
}

form .error {
	color: red;
	display: block;
	font-weight: normal;
	margin-bottom: 5px;
}

form .field-group {
	margin: 5px 0;
}
